<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>ARKitPoseStreamer 需要相机权限来运行 ARKit 追踪手部空间位置。</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arkit</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>ARKitPoseStreamer 需要局域网访问权限来将手部位姿数据通过 UDP 发送到电脑。</string>
	<key>NSBonjourServices</key>
	<array/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
